@import './mixins';
@import './breakpoints';

$customblack:#000000;
$white:#ffffff;
$darkcerulean:#02487B;
$gainsboro:#D9D9D9;
$maximumred:#DE1818;
$aliceblue: #0394E3;
$antiflashwhite:#F6F8FC;
$lavenderblush:	#FFEFF7;
$nickel:#737373;
$magentadye:#C6036C;
$darkblue:#070585;
$darkgrey:#F4F4F4;
$bluegreen:linear-gradient(181deg, #17B2F4 0%, #00EFD2 100%);
$sidegrey:#F3FAFF;
$lightgrey: rgba(236, 230, 230, 0.612);